@import url(https://fonts.googleapis.com/css?family=Arimo:400,400italic,700,700italic);

body,
html {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Arimo', sans-serif;
}

main {
    z-index: 2;
    position: relative;
    height: 100%;
    background-color: #2D3142;
    -webkit-transition: transform .7s ease-in-out;
    -moz-transition: transform .7s ease-in-out;
    -ms-transition: transform .7s ease-in-out;
    -o-transition: transform .7s ease-in-out;
    transition: transform .7s ease-in-out;
}


.sidebar {
    height: 100%;
    width: 300px;
    position: fixed;
    top: 0;
    z-index: 1;
    left: -300px;
    background-color: rgba(255, 255, 255, 0.5);
    transition: left 0.3s ease;
    /* Add transition property */
}

.sidebar.active {
    left: 0;
    /* Show the sidebar when 'active' class is present */
}

.bar {
    display: block;
    height: 5px;
    width: 50px;
    background-color: purple;
    margin: 7px auto;
    border-radius: 5px;

}

.button {
    cursor: pointer;
    display: inline-block;
    width: auto;
    margin: 20px;    /* Adjust the margin value as needed */
    position: absolute;    /* Position the button */
    top: 0;
    left: 0;
    z-index: 2; /* Ensure the button is above the sidebar */
    -webkit-transition: all .7s ease;
    -moz-transition: all .7s ease;
    -ms-transition: all .7s ease;
    -o-transition: all .7s ease;
    transition: all .7s ease;
}

.nav-right {
    position: fixed;
    right: 40px;
    top: 20px;
}

.nav-right.visible-xs {
    z-index: 3;
}

.hidden-xs {
    display: none;
}

.middle {
    margin: 0 auto;
}

.bar {
    -webkit-transition: all .7s ease;
    -moz-transition: all .7s ease;
    -ms-transition: all .7s ease;
    -o-transition: all .7s ease;
    transition: all .7s ease;
}

.nav-right.visible-xs .active .bar {
    background-color: #FFF;
    -webkit-transition: all .7s ease;
    -moz-transition: all .7s ease;
    -ms-transition: all .7s ease;
    -o-transition: all .7s ease;
    transition: all .7s ease;
}

.button.active .top {
    -webkit-transform: translateY(12px) rotateZ(45deg);
    -moz-transform: translateY(12px) rotateZ(45deg);
    -ms-transform: translateY(12px) rotateZ(45deg);
    -o-transform: translateY(12px) rotateZ(45deg);
    transform: translateY(12px) rotateZ(45deg);
}

.button.active .bottom {
    -webkit-transform: translateY(-12px) rotateZ(-45deg);
    -moz-transform: translateY(-12px) rotateZ(-45deg);
    -ms-transform: translateY(-12px) rotateZ(-45deg);
    -o-transform: translateY(-12px) rotateZ(-45deg);
    transform: translateY(-12px) rotateZ(-45deg);
}

.button.active .middle {
    width: 0;
}

.move-to-right {
    -webkit-transform: translateX(-400px);
    -moz-transform: translateX(-400px);
    -ms-transform: translateX(-400px);
    -o-transform: translateX(-400px);
    transform: translateX(-400px);
}

nav {
    padding-top: 30px;
}

.sidebar-list {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    margin-top: 150px;
    text-align: center;
}

.sidebar-item {
    margin: 30px 0;
    opacity: 1;
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -o-transform: translateY(-20px);
    transform: translateY(-20px);
}


.logout-btn {
    bottom: 15px;
}

/* .sidebar-item:first-child {
    -webkit-transition: all .7s .2s ease-in-out;
    -moz-transition: all .7s .2s ease-in-out;
    -ms-transition: all .7s .2s ease-in-out;
    -o-transition: all .7s .2s ease-in-out;
    transition: all .7s .2s ease-in-out;
}

.sidebar-item:nth-child(2) {
    -webkit-transition: all .7s .4s ease-in-out;
    -moz-transition: all .7s .4s ease-in-out;
    -ms-transition: all .7s .4s ease-in-out;
    -o-transition: all .7s .4s ease-in-out;
    transition: all .7s .4s ease-in-out;
}

.sidebar-item:nth-child(3) {
    -webkit-transition: all .7s .6s ease-in-out;
    -moz-transition: all .7s .6s ease-in-out;
    -ms-transition: all .7s .6s ease-in-out;
    -o-transition: all .7s .6s ease-in-out;
    transition: all .7s .6s ease-in-out;
}

.sidebar-item:last-child {
    -webkit-transition: all .7s .8s ease-in-out;
    -moz-transition: all .7s .8s ease-in-out;
    -ms-transition: all .7s .8s ease-in-out;
    -o-transition: all .7s .8s ease-in-out;
    transition: all .7s .6s ease-in-out;
} */

a {
    text-decoration: none;
    color: #6a6868;
    /* text-shadow: 1px 1px 4px rgba(0,0,0,0.3);; */
    -webkit-transition: all .7s ease-in-out;
    -moz-transition: all .7s ease-in-out;
    -ms-transition: all .7s ease-in-out;
    -o-transition: all .7s ease-in-out;
    transition: all .7s ease-in-out;
}

.sidebar-item.active {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
}

.sidebar-anchor {
    color: #FFF;
    text-decoration: none;
    font-size: 1.8em;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 7px;
}

.sidebar-anchor:before {
    content: "";
    width: 0;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #FFF;
    -webkit-transition: all .7s ease-in-out;
    -moz-transition: all .7s ease-in-out;
    -ms-transition: all .7s ease-in-out;
    -o-transition: all .7s ease-in-out;
    transition: all .7s ease-in-out;
}

.sidebar-anchor:hover:before {
    width: 100%;
}

.ua {
    position: absolute;
    bottom: 20px;
    left: 30px;
}

li {
    font-size: 2em;
    line-height: 65px;
    text-decoration: none;
    color: #EF8354;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

li:hover {
    color: #FFF;
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -o-transform: scale(1.3);
    transform: scale(1.3);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

li .logout-btn {
    color: #FF4500;
    text-shadow: none;
    bottom: 15px;   
    margin-top: auto;
    /* display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; */
}

.logout-btn .logout-icon{
    /* position: relative; */
    float: right;
    font-size: 25px;
}

.logout-icon {
    padding: 0;
    margin: 0;
}


@media (min-width: 480px) {
    .nav-list {
        display: block;
    }
}

@media (min-width: 768px) {
    .nav-right {
        position: absolute;
    }

    .hidden-xs {
        display: block;
    }

    .visible-xs {
        display: none;
    }
}

@media (max-width: 1097px) {
  .sidebar.active {
    width: 100%;
    left: 0;
    background-color: skyblue;
  }
}